<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teraenergy.illegalparking.model.mapper.IllegalZoneMapper">

    <select id="findById" resultType="IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, IllegalType as illegalTypeSeq, Code, EventSeq FROM illegal_zone where ZoneSeq = #{zoneSeq} and isDel = 0;
    </select>

    <!--<select id="findByIdDong" resultType="IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, IllegalType as illegalTypeSeq, Code, EventSeq FROM illegal_zone WHERE Code IN (#{code}) and isDel = 0;
    </select>-->

    <select id="findByIdDong" resultType="IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, IllegalType as illegalTypeSeq, Code, EventSeq FROM illegal_zone
        WHERE Code IN
        <foreach collection="codes" item="code" separator="," open="(" close=")">
              #{code}
        </foreach>
          AND isDel = 0;
    </select>

    <select id="findByIdType" resultType="IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, IllegalType as illegalTypeSeq, Code, EventSeq FROM illegal_zone where illegalType = #{illegalTypeSeq} and isDel = 0;
    </select>

    <select id="findByIdTypeAndDong" resultType="IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, IllegalType as illegalTypeSeq, Code, EventSeq FROM illegal_zone
        WHERE illegalType = #{illegalTypeSeq} AND Code IN
        <foreach collection="codes" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
          AND isDel = 0;
    </select>

    <select id="findAll" resultType="IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, IllegalType as illegalTypeSeq, Code, EventSeq FROM illegal_zone where isDel = 0;
    </select>



    <insert id="save" useGeneratedKeys="false">
         INSERT INTO illegal_zone (Name, Polygon, isDel, IllegalType, Code, EventSeq) VALUES (#{name}, POLYGONFROMTEXT(#{polygon}), #{isDel}, #{illegalTypeSeq}, #{code}, #{eventSeq});
    </insert>

    <insert id="saveAll" useGeneratedKeys="false">
         INSERT INTO illegal_zone (Name, Polygon, isDel, Code, IllegalType, EventSeq) VALUES
        <foreach collection="illegalZones" item="illegalZone" separator=",">
            (#{illegalZone.name}, POLYGONFROMTEXT(#{illegalZone.polygon}), #{illegalZone.isDel}, #{illegalZone.code}, #{illegalZone.illegalTypeSeq}, #{illegalZone.eventSeq})
        </foreach>
        ;
    </insert>

    <update id="modify" useGeneratedKeys="false">
         UPDATE illegal_zone SET IllegalType = #{illegalTypeSeq} WHERE ZoneSeq = #{zoneSeq};
    </update>

    <update id="delete" useGeneratedKeys="false">
         UPDATE illegal_zone SET isDel = true WHERE ZoneSeq = #{zoneSeq};
    </update>

</mapper>