<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teraenergy.illegalparking.model.mapper.illegalzone.repository.IllegalZoneRepository">

    <select id="findById" resultType="com.teraenergy.illegalparking.model.mapper.illegalzone.domain.IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, TypeSeq, Code, StartTime, EndTime FROM illegal_zone where ZoneSeq = #{zoneSeq} and isDel = 0;
    </select>

    <select id="findByIdDong" resultType="com.teraenergy.illegalparking.model.mapper.illegalzone.domain.IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, TypeSeq, Code, StartTime, EndTime FROM illegal_zone where Code = #{code} and isDel = 0;
    </select>

    <select id="findByIdType" resultType="com.teraenergy.illegalparking.model.mapper.illegalzone.domain.IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, TypeSeq, Code, StartTime, EndTime FROM illegal_zone where typeSeq = #{typeSeq} and isDel = 0;
    </select>

    <select id="findByIdTypeAndDong" resultType="com.teraenergy.illegalparking.model.mapper.illegalzone.domain.IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, TypeSeq, Code, StartTime, EndTime FROM illegal_zone where typeSeq = #{typeSeq} and Code = #{code} and isDel = 0;
    </select>

    <select id="findAll" resultType="com.teraenergy.illegalparking.model.mapper.illegalzone.domain.IllegalZone">
        SELECT ZoneSeq, Name, ASTEXT(Polygon) as polygon, isDel, TypeSeq, Code, StartTime, EndTime FROM illegal_zone where isDel = 0;
    </select>

    <insert id="save" useGeneratedKeys="false">
         INSERT INTO illegal_zone (Name, Polygon, isDel, TypeSeq, Code, StartTime, EndTime) VALUES (#{name}, POLYGONFROMTEXT(#{polygon}), #{isDel}, #{typeSeq}, #{code}, #{StartTime}, #{EndTime});
    </insert>

<!--    <insert id="saveAll" useGeneratedKeys="false">-->
<!--         INSERT INTO illegal_zone (Name, Polygon, isDel, TypeSeq, Code, StartTime, EndTime) VALUES-->
<!--                                                                                                <foreach collection="" item="">-->
<!--                                                                                                (#{name}, POLYGONFROMTEXT(#{polygon}), #{isDel}, #{typeSeq}, #{code}, #{StartTime}, #{EndTime});-->
<!--                                                                                                </foreach>-->
<!--    </insert>-->

    <update id="modify" useGeneratedKeys="false">
         UPDATE illegal_zone SET TypeSeq = #{typeSeq}, StartTime =#{startTime}, EndTime =#{endTime} WHERE ZoneSeq = #{zoneSeq};
    </update>

    <update id="delete" useGeneratedKeys="false">
         UPDATE illegal_zone SET isDel = true WHERE ZoneSeq = #{zoneSeq};
    </update>

</mapper>