.map_wrap {
  width: 100vw;
  position: absolute;
  right: 0;
}

.modes {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/*.getdata {*/
/*  position: absolute;*/
/*  top: 370px;*/
/*  left: 10px;*/
/*  z-index: 1;*/
/*}*/



@media (max-width: 767px){
  /*//모바일*/
  #drawingMap, #map {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 900px) {
  /*// 데스크탑 일반*/
  #drawingMap, #map {
    width: 100%;
    height: 650px;
  }
}

/*#map {
  margin-top: 10px;
}*/

.map-control {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  /* align-self: center; */
  overflow: hidden;
  width: 250px;
  /* height: 30px; */
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  font-size: 12px;
  font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
  box-shadow: inset 0px 0px 3px 1px #e2e1dd !important;
}

.map-control .mapType {
  font-size: 14px;
}

.alarm-control {
  left: 20%;
}

/*
.custom-map-control span {
  display: block;
  width: 65px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
*/
.test {
  position: absolute;
  top: 450px;
  right: 30px;
  width: 284px;
  height: 80px;
  overflow: hidden;
  z-index: 1;
}


.custom-control {
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 50px;
  height: 190px;
  overflow: hidden;
  z-index: 1;
}

.custom-control span {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}

.custom-control span img {
  width: 48px;
  height: 48px;
  margin: 12px 0;
  border: none;
}
/*

.custom-control span:first-child {
  border-bottom: 1px solid #bfbfbf;
}
/**!*/

.msg-bar {
  z-index: 1;
  position: absolute;
  width: 85%;
  height: 40px;
  right: 5%;
  bottom: 10%;
  font-size: 14px;
  text-align: center;
  padding : 10px 0;
  background-color: #FFC527B5;
}

/*.custom-btn-control span img {*/
/*  width: 48px;*/
/*  height: 48px;*/
/*  border: none;*/
/*  !*margin: -5px -5px 3px;*!*/
/*  !*filter: invert(43%) sepia(13%) saturate(814%) hue-rotate(183deg) brightness(101%) contrast(93%);*!*/

/*}*/


/*.custom-btn-control .btn {*/
/*  !*background: #fff;*!*/
/*  !*background: linear-gradient(#fff, #e6e6e6);*!*/
/*}*/


.balloon-image {
  position: relative;
}
.balloon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -60% );
  color: white;
}
.price-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: black;
}

.dark-mode-button {
  position: relative;
  display: block;
  width: 45px;
  height: 30px;
}

.dark-mode-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-button .onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #eaeaea, -1px -1px 3px #eaeaea;
  border-radius: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-mode-button .onoff-switch:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  top: -5px;
  background-image: url("/resources/assets/img/alarm_on.png");
  background-size: 15px;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
  -webkit-transition: .5s;
  transition: .4s;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #eaeaea;

}

.dark-mode-button input:checked + .onoff-switch {
  background-color: #444;
  box-shadow: inset 1px 1px 2px #222;
}

.dark-mode-button input:checked + .onoff-switch:before {
  background-image: url("/resources/assets/img/alarm_off.png");
  background-color: #333;
  box-shadow: none;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.outline {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#location {
  z-index: 10;
  height: 30px;
}

.waves {
  position: absolute;
  /*left: 50%;*/
  /*top: 50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
  /*!*background: rgba(255, 255, 255, 0.4);*!*/
  /*!*width: 25px;*!*/
  /*!*height: 25px;*!*/
  /*border-radius: 50%;*/
}
.waves:before, .waves:after {
  content: "";
  position: absolute;
  background: #000000b5;
  margin-left: -9px;
  margin-top: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-animation: wave 3s infinite linear;
  animation: wave 3s infinite linear;
}
.waves:after {
  opacity: 0;
  -webkit-animation: wave 3s 1.5s infinite linear;
  animation: wave 3s 1.5s infinite linear;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    opacity: 0;
  }
}

.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
  z-index: 999;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(0,0,0,0.2); /*not in ie */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');/* ie */
}
.wrap-loading div img{ /*로딩 이미지*/
  position: fixed;
  top:50%;
  left:50%;
  width: 52px;
  height: 52px;
  margin-left: -21px;
  margin-top: -21px;
}

.display-none{ /*감추기*/
  display:none;
}
