.map_wrap {
  width: 100%;
  position: relative;
}

.modes {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/*.getdata {*/
/*  position: absolute;*/
/*  top: 370px;*/
/*  left: 10px;*/
/*  z-index: 1;*/
/*}*/

#drawingMap, #map {
  width: 100%;
  height: 100vh;
}

/*#map {
  margin-top: 10px;
}*/

.map-control {
  position: absolute;
  top: 50px;
  right: 10%;
  overflow: hidden;
  /*width: 200px;*/
  /*height: 30px;*/
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 12px;
  font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}

.map-control .mapType {
  font-size: 14px;
}

/*
.custom-map-control span {
  display: block;
  width: 65px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
*/
.test {
  position: absolute;
  top: 450px;
  right: 30px;
  width: 284px;
  height: 80px;
  overflow: hidden;
  z-index: 1;
}


.custom-control {
  position: absolute;
  top: 65%;
  right: 5%;
  width: 50px;
  height: 190px;
  overflow: hidden;
  z-index: 1;
}

.custom-control span {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}

.custom-control span img {
  width: 48px;
  height: 48px;
  margin: 12px 0;
  border: none;
}
/*

.custom-control span:first-child {
  border-bottom: 1px solid #bfbfbf;
}
/**!*/

/*.custom-btn-control {*/
/*  position: absolute;*/
/*  top: 70%;*/
/*  right: 5%;*/
/*  width: 48px;*/
/*  height: 48px;*/
/*  overflow: hidden;*/
/*  z-index: 1;*/
/*}*/

/*.custom-btn-control span img {*/
/*  width: 48px;*/
/*  height: 48px;*/
/*  border: none;*/
/*  !*margin: -5px -5px 3px;*!*/
/*  !*filter: invert(43%) sepia(13%) saturate(814%) hue-rotate(183deg) brightness(101%) contrast(93%);*!*/

/*}*/


/*.custom-btn-control .btn {*/
/*  !*background: #fff;*!*/
/*  !*background: linear-gradient(#fff, #e6e6e6);*!*/
/*}*/


.balloon-image {
  position: relative;
}
.balloon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -60% );
  color: white;
}
